.about {
  height: 120vh;
  background-size: 100%;
  /* background-color: rgb(246,230,224); */
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 20px;
  color: black;
  -ms-transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg);
  position: relative;
  top: -60px;
}

.about-contents {
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.row {
  display: flex;
}

.about-me {
  font-family: 'Courgette', cursive;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 70px;
  z-index: 0;
  color: #525151;
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.about-pic {
  height: 400px;
  width: 400px;
  position: relative;
  border: 5px solid #caebf2;
  border-radius: 200px;
  margin: 20px;
}
.about-pic-pic {
  height: 400px;
  width: 400px;
  position: relative;
  border: 5px solid #caebf2;
  border-radius: 200px;
  margin: 30px;
}

#image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -50px;
  z-index: 1;
}

.about-text {
  width: 700px;
  margin: 50px;
  align-self: center;
  z-index: 2;
}

#hello-again {
  font-weight: 700;
  color: #525151;
}

.orange {
  font-weight: 700;
  color: #525151;
}

@media only screen and (min-width: 250px) and (max-width: 760px) {
  .about {
    min-height: 100vh;
    height: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-me {
    font-size: 50px;
    padding-bottom: 0;
    margin-top: 30px;
  }

  .row {
    flex-direction: column;
  }

  .about-pic {
    height: 300px;
    width: 300px;
    position: relative;
    border: 4px solid #caebf2;
    border-radius: 200px;
    margin: 10px;
    align-self: center;
  }
  .about-pic-pic {
    align-self: center;
    height: 300px;
    width: 300px;
    position: relative;
    border: 3px solid #caebf2;
    border-radius: 200px;
    margin: 20px;
  }

  #image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -20px;
    z-index: 1;
  }

  .about-text {
    width: 90%;
    padding-bottom: 50px;
    align-self: center;
    z-index: 2;
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 300;
    font-size: 18px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1024px) {
  .about {
    min-height: 90vh;
    height: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-me {
    font-size: 50px;
    padding-bottom: 0;
    margin-top: 30px;
  }

  .row {
    flex-direction: column;
  }

  .about-pic {
    height: 350px;
    width: 350px;
    position: relative;
    border: 4px solid #caebf2;
    border-radius: 200px;
    margin: 10px;
    align-self: center;
  }
  .about-pic-pic {
    align-self: center;
    height: 350px;
    width: 350px;
    position: relative;
    border: 3px solid #caebf2;
    border-radius: 200px;
    margin: 20px;
  }

  #image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -20px;
    z-index: 1;
  }

  .about-text {
    width: 90%;
    padding-bottom: 50px;
    align-self: center;
    z-index: 2;
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 300;
    font-size: 20px;
  }
}