.about {
  height: 120vh;
  background-size: 100%;
  background-color: rgb(246,230,224);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 20px;
  color: black;
  /* width: 100%; */
  /* box-sizing: border-box; */
  -ms-transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg);
  position: relative;
  top: -60px;
}

.about-contents {
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.row {
  display: flex;
  /* background-color: aqua; */

}

.about-me {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 70px;
  z-index: 0;
  color: rgb(28,34,115);
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.about-pic {
  height: 400px;
  width: 400px;
  position: relative;
  border: 5px solid white;
  border-radius: 200px;
  margin: 20px;
}
.about-pic-pic {
  height: 400px;
  width: 400px;
  position: relative;
  border: 5px solid white;
  border-radius: 200px;
  margin: 30px;
}

#image {
  /* height: 500px;
  padding-right: 70px;
  opacity: .9; */
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: -50px; */
  left: -50px;
  z-index: 1;
}

.about-text {
  width: 700px;
  margin: 50px;
  align-self: center;
  z-index: 2;
}

#hello-again {
  font-weight: 700;
  color: rgb(128,145,216);
}

.flower-2 {
  height: 300%;
  top: -180%;
  position: absolute;
  transform: scaleX(-1) rotate(-27deg);
  left: -35%;
}

.orange {
  font-weight: 700;
  color: rgb(128,145,216);
}