.contact {
  background-color: #efefef;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  top: -220px;
  min-height: 100vh;
}

.contact-container {
  display: flex;
  align-items: center;
}

.contact-intro {
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-intro span {
  width: 60%;
}