.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: rgba(58,95,237, 0.8);
  width: 100%;
  z-index: 3;
}

.logo {
  padding: 25px;
  Font-Family: 'Work Sans', Sans-Serif;
  Font-Size: 45px;
  font-weight: 600;
  color: #FFFFFF;
}

.logo:hover {
  color: #EEB4AA;
  cursor: pointer;
}

.navLinks {
  width: 500px;
  color: #FFFFFF;
}

.navLinks li:hover {
  color: #EEB4AA;
  cursor: pointer;
}

.navLinks ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 17px;
}
