.skills {
  background-color: #efefef;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
  -ms-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  position: relative;
  top: -160px;
}

.skills-contents {
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
}

.section-header {
  font-family: 'Courgette', cursive;
  font-size: 70px;
  font-weight: 700;
  color: #525151;
  padding-top: 150px;
  z-index: 2;
  align-self: flex-start;
  padding-left: 15%;
}

.skills-container {
  list-style: none;
  width: 700px;
}

.skills-container ul{
  list-style: none;
  font-size: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  color: #ff3b3f;
}

.skills-container ul p{
  font-size: 15px;
  color: #ff3b3f;
  margin: 0;
}

.skills-container ul li{
  padding: 20px;
}

.fa-html5 {
  color: #ff3b3f;
}

.fa-css3 {
  color: #ff3b3f;
}

.fa-sass {
  color: #ff3b3f;
}

.fa-js-square {
  color: #ff3b3f;
}

.fa-react {
  color: #ff3b3f;
}

.fa-wordpress-simple {
  color: #ff3b3f;
}

.fa-php {
  color: #ff3b3f;
}

#skills-git {
  color: #ff3b3f;
}

.section-subtitle {
  font-size: 28px;
  color: #a9a9a9;
  padding-top: 10px;
  align-self: flex-start;  
  padding-left: 15%;
}