.intro {
  background-color: #efefef;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.intro-small-flower {
  height: 500px;
  position: absolute;
  top: -7%;
  right: 77%;
}

.intro-flower {
  position: absolute;
  right: -10%;
  top: 30%;
  height: 80%;
  transform: rotate(-15deg);
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 600px;
}

#hello {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 30px;
  color: #a9a9a9;
}

#carolyn {
  font-family: 'Courgette', cursive;
  font-size: 80px;
  font-weight: 700;
  color: #525151;
}

#gregoris {
  color: #525151;
  font-weight: 500;
}

#developer {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 30px;
  font-weight: 700;
  color: #525151;
}

#intro-p {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 30px;
  color: #525151;
}


.fa-angle-double-down:hover {
  color: #FFFFFF;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.fa-angle-double-down {
  font-size: 50px;
  align-self: center;
  margin: 50px;
  color: #ff3b3f;
  cursor: pointer;
  -webkit-transition: color 0.1s;
  transition: all 0.3s;
  
}

.socialsList {
  text-decoration: none;
  list-style: none;
  display: flex;
  font-size: 40px;
  padding-left: 0;
}

.socialsList li {
  padding-right: 30px;
}

.fa-github {
  color: #a9a9a9;
}

.fa-linkedin {
  color: #a9a9a9;
}

.angle-1 {
  height: 200px;
  background-color: rgb(246,230,224);
  color: rgb(246,230,224);
  position: absolute;
  bottom: -20%;
  width: 105%;
  transform: rotate(5deg);
  display: block;
}


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media only screen and (min-width: 250px) and (max-width: 1024px) {
 

  .intro {
    min-height: fit-content;
    padding-top: 140px;
    padding-bottom: 90px;
    background-image: none;
  }

  #hello {
    font-size: 25px;
    padding-left: 20px;
  }

  #carolyn {
    font-size: 45px;
    padding-left: 20px;
    padding-right: 10px;
  }

  #intro-p {
    font-size: 20px;
    padding: 20px;
  }

  #developer {
    font-size: 20px;
  }

  .socialsResume {
    margin-left: 10px;
    margin-right: 10px;
  }

  .fa-angle-double-down {
    margin-bottom: 70px;
    margin-top: 10px;
    display: none;
  }

  .socialsList li {
    padding-left: 10px;
  }

}

@media only screen and (min-width: 250px) and (max-width: 758px) {
  .intro-flower {
    display: none;
  }

  .intro-small-flower {
    height: 300px;
    position: absolute;
    top: -10%;
    right: -30%;
  }
}

@media only screen and (min-width: 759px) and (max-width: 915px) {
  .intro-flower {
      position: absolute;
      right: -24%;
      top: 20%;
      height: 80%;
      transform: rotate(-15deg);
  }

  .intro-small-flower {
    height: 300px;
    position: absolute;
    top: 55%;
    right: 80%;
  }
}