.skills {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;
  -ms-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  position: relative;
  top: -160px;
  overflow: hidden;
}

.skills-flower {
  position: absolute;
  height: 700px;
  transform: rotate(15deg);
  left: -90%;
  top: 58%;
}

.skills-flower-2 {
  position: absolute;
  transform: rotate(210deg);
  top: -60%;
  right: -125%;
}

.skills-contents {
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
}

.section-header {
  font-family: 'Courgette', cursive;
  font-size: 70px;
  font-weight: 700;
  color: #525151;
  padding-top: 150px;
  z-index: 2;
  align-self: flex-start;
  padding-left: 15%;
}

.skills-container {
  list-style: none;
  width: 700px;
}

.skills-container ul{
  list-style: none;
  font-size: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  color: #ff3b3f;
}

.skills-container ul p{
  font-size: 15px;
  color: #ff3b3f;
  margin: 0;
}

.skills-container ul li{
  padding: 20px;
}

.fa-html5 {
  color: #ff3b3f;
}

.fa-css3 {
  color: #ff3b3f;
}

.fa-sass {
  color: #ff3b3f;
}

.fa-js-square {
  color: #ff3b3f;
}

.fa-react {
  color: #ff3b3f;
}

.fa-wordpress-simple {
  color: #ff3b3f;
}

.fa-php {
  color: #ff3b3f;
}

#skills-git {
  color: #ff3b3f;
}

.section-subtitle {
  font-size: 28px;
  color: #a9a9a9;
  padding-top: 10px;
  align-self: flex-start;  
  padding-left: 15%;
}

@media only screen and (min-width: 250px) and (max-width: 900px) {

  .skills {
    padding-bottom: 100px;
  }
  
  .section-header {
    font-size: 50px;
    font-weight: 700;
    color: #525151;
    padding-top: 150px;
    z-index: 2;
    padding-left: 0;
    width: 90%;
    margin: auto;
  }
  
  .skills-container {
    list-style: none;
    width: 95%;
  }
  
  .skills-container ul{
    list-style: none;
    font-size: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    color: #ff3b3f;
  }
  
  .skills-container ul p{
    font-size: 15px;
    color: #ff3b3f;
    margin: 0;
  }
  
  .skills-container ul li{
    padding: 20px;
  }
  
  .fa-html5 {
    color: #ff3b3f;
  }
  
  .fa-css3 {
    color: #ff3b3f;
  }
  
  .fa-sass {
    color: #ff3b3f;
  }
  
  .fa-js-square {
    color: #ff3b3f;
  }
  
  .fa-react {
    color: #ff3b3f;
  }
  
  .fa-wordpress-simple {
    color: #ff3b3f;
  }
  
  .fa-php {
    color: #ff3b3f;
  }
  
  #skills-git {
    color: #ff3b3f;
  }
  
  .section-subtitle {
    font-size: 23px;
    color: #a9a9a9;
    padding-top: 10px;
    align-self: flex-start;  
    padding-left: 0;
    width: 90%;
    margin: auto;
  }

}

@media only screen and (min-width: 250px) and (max-width: 760px) {
  .skills-flower {
    display: none;
  }

  .skills-flower-2 {
    display: none;
  }
}

@media only screen and (min-width: 761px) and (max-width: 915px) {
  .skills-flower-2 {
    position: absolute;
    height: 800px;
    transform: rotate(210deg);
    top: -50%;
    right: -60%;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1290px) {
  .skills-flower {
    position: absolute;
    height: 700px;
    transform: rotate(15deg);
    left: -65%;
    top: 58%;
  }

  .skills-flower-2 {
    position: absolute;
    height: 800px;
    transform: rotate(210deg);
    top: -40%;
    right: -60%;
  }
}