html, body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  display: block;
  box-sizing: border-box;
  /* background-color: rgb(254,242,216); */
  background-color: #efefef;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

